<div class='row mt-3'>
  <h2 class='text-center'>My Courses</h2>
    <button style="width:fit-content" class="btn btn-success">
    <a href="/me/courses" >Courses ( <span>{{availableCoursesQuantity}}</span> )</a>
  </button>
  <table class='table table-bordered mt-4'>
    <thead>
      <tr>
        <th scope='col'>Id</th>
        <th scope='col'>Name</th>
        <th scope='col'>Description</th>
        <th scope='col'>Thumbnail</th>
        <th scope='col'>Edit course</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope='row'>{{this.id}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.thumbnail}}</td>
          <td>
            <div  style="display:inline-block">
            <form
              method='POST'
              style="display:inline-block"
              action="/courses/restore/{{this.id}}?_method=PATCH"
            >
            <button type='submit' class='btn btn-success'>
              Restore
            </button>
            </form>
            </div>
            <span class='mx-1'></span>
              <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#configmDeleteCourse" data-id="{{this.id}}">Permenently Delete</>
          </td>
        </tr> 
        {{else}}
          <tr>
            <td colspan="5" class="text-center">
              <div class="my-2 font-bold text-xl-center">Empty Recycle Bin !</div>
            </td>
          </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="modal fade" id="configmDeleteCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm delete course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Confirm delete this course.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class='btn btn-danger' id="delete-btn">Delete</button>
      </div>
    </div>
  </div>
</div>

<form 
  method="POST" 
  id="form-delete-course"
  style="display:inline-block"
</form>

<script>
  var exampleModal = document.getElementById('configmDeleteCourse');
  exampleModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;
    var id = button.getAttribute('data-id');
    var modalTitle = exampleModal.querySelector('.modal-title');
    const deleteButton = document.getElementById('delete-btn')
    const formDeleteCourse = document.getElementById('form-delete-course');
    deleteButton.onclick = ()=>{
      formDeleteCourse.setAttribute('action',`/courses/force-delete/${id}?_method=DELETE`);
      formDeleteCourse.submit();
    }
  });
</script>



